<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IWorkingService" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61793/WorkingService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IWorkingService"
                contract="WorkingServiceReference.IWorkingService" name="WSDualHttpBinding_IWorkingService">
                <identity>
                    <userPrincipalName value="sdr@mscher.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>